<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fh.springboot_shop.dao.ShuxingDao">
    <select id="queryShuxingData" resultType="com.fh.springboot_shop.entity.vo.AttrShow">

        SELECT att.id,att.nameChina as name,t.`name` as typeNames,att.isSKU,att.type
        from shop_shuxing att LEFT JOIN shop_type t on att.typeId=t.id where 1=1
        <if test="startDate!=null">
            and createDate>=#{startDate}
        </if>
        <if test="endDate!=null">
            and createDate &lt; = #{endDate}
        </if>
        limit ${size*(page-1)},#{size}

    </select>

    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(*)
        from shop_shuxing att LEFT JOIN shop_type t on att.typeId=t.id where 1=1
        <if test="startDate!=null">
            and createDate>=#{startDate}
        </if>
        <if test="endDate!=null">
            and createDate &lt; = #{endDate}
        </if>
    </select>

    <!--<insert id="addShuxing">
        insert into shop_shuxing (name,nameChina,typeId,type,isSKU,createDate,updateDate,author) values (#{name},#{nameChina},#{typeId},#{type},#{isSKU},SYSDATE(),SYSDATE(),#{}
    </insert>-->

</mapper>
